@import "./reset.scss";
@import "./fonts.scss";

$index: calc(1vw + 1vh);

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 120%;
  font-size: 16px;
  font-family: "Inter";
  color: #21272a;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #15191c;
  display: flex;
  flex-direction: column;
}

svg {
  vector-effect: non-scaling-stroke;
}

.main {
  width: calc(100% - 64px);
  background-color: #fff;
  position: relative;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }
}

footer {
  margin-top: auto;
  width: 100%;
  overflow: hidden;
}

*::selection {
  background: #fbb03e;
  color: #000;
}

.container {
  width: 100% !important;
  flex: 0 0 auto;
  position: relative;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 40px;

  @media screen and (max-width: 768px) {
    padding: 0 15px;
  }

  @media screen and (max-width: 440px) {
    padding: 0 10px;
  }
}

.header {
  background-color: #15191c;
  border-bottom: 1px solid rgba(197, 197, 197, 0.2);

  .logo {
    width: 120px;
    height: 50px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.header__nav,
.actions__wrapper {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: auto;
  gap: 20px;
  padding-right: 20px;
}

.nav__item {
  padding: 10px 5px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;

  &.active {
    color: #fbb03e;
  }
}

.logo__wrapper {
  padding: 15px 0;
  padding-left: 20px;
  padding-right: 120px;
  border-right: 1px solid rgba(197, 197, 197, 0.2);
}

.header__wrapper {
  display: flex;
  align-items: stretch;
}

.header-link {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  height: 100%;
  border-left: 1px solid rgba(197, 197, 197, 0.2);

  svg {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
}

.search-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  border-left: 1px solid rgba(197, 197, 197, 0.2);
  height: 100%;

  svg {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
}

.cards-section {
  padding: 30px 0px 60px 0;
}

.cards-section__head {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.cards-section__link {
  display: block;
  color: #fbb03e;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &::after {
    margin-left: 20px;
    width: 16px;
    height: 10px;
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.3396 1.58789L13.7529 8.00118L7.3396 14.4146' stroke='%23FBB03E' stroke-width='2'/%3e%3cpath d='M13.7527 8.00195H0.24707' stroke='%23FBB03E' stroke-width='2'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.cards-section__title {
  color: #21272a;
  font-size: 42px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.cards-section__nav {
  margin-left: auto;
  display: flex;
  gap: 20px;

  .swiper-button-prev,
  .swiper-button-next {

    &::before,
    &::after {
      display: none;
    }

    background: #f2f4f8;
    position: static;
    margin: 0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.cards-item {
  height: auto;
  background: #f2f4f8;
  display: flex;
  flex-direction: column;
  width: calc(33.333% - 26.666px);

  &:hover {
    .cards-item__body {
      background-color: #fbb03e;
    }
  }
}

.cards-item__body {
  transition: background-color 0.3s ease-in-out;
  border-top: 4px solid #fbb03e;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  min-height: 140px;
}

.cards-item__text,
.catd-item__info {
  margin-top: auto;
  color: #21272a;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
}

.cards-item__title {
  color: #21272a;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  /* 21.6px */
  -webkit-line-clamp: 3;
  /* Число отображаемых строк */
  display: -webkit-box;
  /* Включаем флексбоксы */
  -webkit-box-orient: vertical;
  /* Вертикальная ориентация */
  overflow: hidden;
}

.cards-item__image {
  width: 100%;
  height: auto;
  background-color: #f2f4f8;
  aspect-ratio: 14 / 8;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.cards-item__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px 10px;
  flex-wrap: wrap;
  margin-top: auto;
}

.catd-item__cat {
  width: fit-content;
  padding: 4px 11px;
  border-radius: 47px;
  background: #21272a;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;

  /* 14px */
  &::first-letter {
    text-transform: uppercase;
  }
}

.info-section {
  background: linear-gradient(180deg, #15191c 0%, #242d34 100%);
  color: #fff;
}

.info-section__wrapper {
  padding: 92px 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 100px center;
}

.info-section__title {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.info-section__descr {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.info-section__content {
  padding-right: 60px;
  padding-left: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info-section__btn {
  padding: 14px 32px;
  border: 2px solid #fbb03e;
  background: #fbb03e;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 16px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;

  .ico {
    width: 24px;
    height: 24px;

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.plate-item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
  border-bottom: 1px solid #fbb03e;
  background: #f2f4f8;
  width: calc(33.33% - 26.666px);
  position: relative;

  &::before {
    position: absolute;
    width: 40px;
    height: 40px;
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M40 0V40H13.3333H0L40 0Z' fill='white'/%3e%3cpath d='M40 0V13.3333L13.3333 40H0L40 0Z' fill='%23FBB03E'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    right: 0;
    bottom: -1px;
  }
}

.plate-item__ico {
  flex-shrink: 0;
  width: 40px;
  height: 40px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.plates-section__wrapper {
  justify-content: center;
  flex-wrap: wrap;
  padding: 60px 50px;
  display: flex;
  gap: 40px;
}

.plate-item__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.plate-item__title {
  color: #15191c;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  /* 38.4px */
}

.plate-item__descr {
  color: #15191c;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
}

.cards-item.docs-slide {
  position: relative;

  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 44px;
    height: 44px;
    background-color: #fbb03e;
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19.0801 11.3406L12.6668 17.7539L6.25342 11.3406' stroke='%2321272A' stroke-width='2'/%3e%3cpath d='M12.666 17.7537L12.666 4.24805' stroke='%2321272A' stroke-width='2'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
  }

  .cards-item__image {
    padding: 25px;

    img {
      object-fit: contain;
    }
  }
}

.logos-section {
  background: #f2f4f8;
  padding: 80px 0;
}

.logos-section__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 0px 80px;
}

.footer {
  background: #15191c;
}

.footer__head {
  padding: 48px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c5c5c5;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social__item {
  width: 24px;
  height: 24px;

  svg,
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.footer__logo {
  width: 120px;
  height: 50px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.footer__body {
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
  border-bottom: 1px solid #c5c5c5;
}

.footer__col {
  max-width: 15%;
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;

  .col-link {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
}

.footer__bottom {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
  padding: 48px 0;
}

.logo-item {
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.footer__wrapper {
  // max-width: 98%;
  // margin: auto;
  padding: 0px 80px;
}

.main__wrapper {
  margin: 0 auto;
  display: flex;
  padding: 0 40px;
  max-width: 2000px;
  width: 100%;
}

.back-btn {
  cursor: pointer;
  padding: 16px;
  border: 2px solid #fbb03e;
  color: #fbb03e;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  /* 20px */
  margin-right: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  &::before {
    display: block;
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.1379 6.0874L6.72461 12.5007L13.1379 18.9141' stroke='%23FBB03E' stroke-width='2'/%3e%3cpath d='M6.72485 12.5015H20.2305' stroke='%23FBB03E' stroke-width='2'/%3e%3c/svg%3e ");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.sticky-sidebar {
  position: relative;
  z-index: 12;
  width: 64px;
  flex-shrink: 0;
  height: auto;
  background: #15191c;

  &.fixed-size {
    width: 260px;

    .sticky-sidebar__wrapper {
      width: 260px;
    }

    ~.main::before {
      opacity: 0 !important;
      visibility: hidden !important;
    }
  }

  &:hover {
    .sticky-sidebar__wrapper {
      width: 260px;
      transition-delay: 0s;
    }

    ~.main::before {
      opacity: 1;
      visibility: visible;
    }

    .arrow-ico {
      transform: rotate(0deg);
    }
  }

  .sticky-sidebar__wrapper {
    transition: width 0.3s ease-in-out 0.3s;
    border-right: 1px solid rgba(197, 197, 197, 0.2);
    height: 100%;
    width: 100%;
    background-color: #15191c;
  }

  .sticky-sidebar__content {
    position: sticky;
    top: 0;
  }
}

.arrow-ico {
  transition: transform 0.3s ease-in-out;
  transform: rotate(180deg);
  width: 24px;
  height: 24px;
  margin-left: 20px;

  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.sticky-sidebar__content {
  overflow: hidden;

  .ico {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .menu-link-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    padding: 14px 20px;
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 260px;
  }

  .menu li {
    position: relative;

    &:hover {
      background-color: #333;
    }
  }

  .has-submenu>a:after {
    content: "";
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9 1L5.00003 5L1 1' stroke='white' stroke-width='2'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: auto;
  }

  .submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
    margin: 0;
  }

  .submenu li a {
    padding: 10px 20px;
    font-size: 12px;
  }

  .submenu li a:hover {
    background-color: #444;
  }

  .active>a {
    background-color: #fbb03e;
  }

  .active>a:after {
    transform: scale(-1);
  }
}

.page-head {
  background: linear-gradient(180deg, #15191c 0%, #242d34 100%);
  position: relative;

  &::before {
    pointer-events: none;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/page-head-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
  }
}

.page-head__wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 855px;
  width: 100%;
  background: #fbb03e;
  padding: 40px 30px;
}

.page-head__title {
  color: #21272a;
  font-size: 42px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.page-head__descr {
  color: #21272a;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}

.breadcrumbs {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.breadcrumbs__item {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #fff;

  &:last-child {
    pointer-events: none;
    color: #fbb03e;
  }

  &:not(:last-child):after {
    flex-shrink: 0;
    content: "";
    display: block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1.5L5 5.49997L1 9.5' stroke='white' stroke-width='2'/%3e%3c/svg%3e ");
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.command {
  padding-top: 45px;
  padding-bottom: 90px;
}

.section-title {
  color: #21272a;
  font-size: 42px;
  font-weight: 700;
  line-height: 120%;
  /* 50.4px */
  text-transform: uppercase;
}

.command__wrapper {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.command-item {
  background: #f2f4f8;
  width: calc(25% - 30px);
}

.command-item__image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.command-item__name {
  color: #21272a;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  /* 21.6px */
}

.command-item__descr {
  color: #697077;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
}

.command-item__footer {
  border-top: 4px solid #fbb03e;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.command-item__image {
  padding-top: 100%;
  height: 0;
}

.partners {
  padding-top: 35px;
  padding-bottom: 57px;
}

.partners__wrapper {
  margin-top: 30px;
  padding: 50px 80px;
  background: #f2f4f8;
  display: flex;
  flex-wrap: wrap;
  gap: 18px 73px;
  position: relative;

  .partner {
    width: calc(25% - 54.75px);
  }

  .partner__wrapper {
    height: 0;
    padding-top: 95%;
    position: relative;
  }

  &::after {
    right: -40px;
  }

  &::before {
    left: -40px;
  }

  &::after,
  &::before {
    position: absolute;
    top: 0;
    height: 100%;
    content: "";
    width: 40px;
    background-color: #f2f4f8;
  }

  .partner__item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.catalog__wrapper,
.news-section__wrapper {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  .cards-item {
    width: calc(33.33% - 26.666px);
  }
}

.pages-pagination {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.news-section {
  padding-top: 40px;
  padding-bottom: 77px;
}

.catalog {
  padding-bottom: 77px;
  padding-top: 40px;
}

.pages-pagination__prev {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M26 8L14 19.9999L26 32' stroke='%2321272A' stroke-width='3'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
}

.pages-pagination__next {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14 8L26 19.9999L14 32' stroke='%2321272A' stroke-width='3'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
}

.pages-pagination__prev,
.pages-pagination__next,
.pages-pagination__item {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #21272a;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  /* 14px */
  text-transform: uppercase;
  background-color: #f2f4f8;
  transition: color 0.2s ease-in-out;
}

.pages-pagination__item {
  &.active {
    background-color: #fbb03e;
  }

  &:not(.active):hover {
    color: #fbb03e;
  }
}

.styled-select__wrapper {
  .select2-container {
    width: calc(33.33% - 26.666px) !important;

    .select2-selection--single {
      height: auto;
      border: 2px solid #f2f4f8;
      background: #fff;
      border-radius: none;
    }

    .select2-selection__rendered {
      padding: 12px 16px;
      padding-right: 48px;
    }

    .select2-selection__arrow {
      transition: transform 0.2s ease-in-out;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18.4141 8.79395L12.0008 15.2073L5.5874 8.79394' stroke='%2321272A' stroke-width='2'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      b {
        display: none;
      }
    }
  }

  .select2-container--open {
    .select2-selection__arrow {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.select2-results__option {
  padding: 12px 16px;
}

.select2-container--default .select2-results__option--selected,
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #fbb03e;
}

.select2-dropdown {
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 2000px) {
  .main__wrapper {
    padding: 0px;
    max-width: 1920px;
  }

  .header .container {
    padding: 0;
  }
}

.product__wrapper {
  align-items: flex-start;
  display: flex;
  width: 100%;
  gap: 40px;
}

.product__content {
  width: calc(66.66% - 20px);
  flex-shrink: 0;
}

.product-section {
  padding: 40px 0;
  padding-bottom: 92px;
}

.product__title {
  color: #21272a;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  /* 38.4px */
  margin-bottom: 20px;
}

.product-image {
  margin-bottom: 20px;
  width: 100%;
  height: 0;
  padding-top: 52.4%;
  position: relative;

  &._glb-model {
    .product-image__wrapper {
      padding: 0;
    }
  }

  .product-image__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 30px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f2f4f8;

    .image-parent {
      width: calc(50% - 20px);
    }

    .glb-model {
      width: 100%;
      height: 100%;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.product__cat {
  border-radius: 47px;
  background: #21272a;
  padding: 4px 11px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  /* 14px */
  width: fit-content;
  margin-bottom: 30px;
}

.product-info {
  padding: 10px 0;
  margin-bottom: 20px;
}

.color-title {
  color: #fbb03e;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  /* 28.8px */
  margin-bottom: 10px;
}

.page-table {
  width: 100%;
  border-collapse: collapse;
  color: #30333b;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
  margin: 20px 0;
}

.page-table th,
.page-table td {
  font-weight: 400;
  padding: 13px 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  min-width: 100px;
}

.page-table {
  border-top: none;
}

.page-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.page-table tr:hover {
  background-color: #e9e9e9;
}

.docs__title {
  color: #fbb03e;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  /* 38.4px */
  margin-bottom: 20px;
}

.product-section__docs {
  position: sticky;
  top: 10px;

  .cards-item {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .cards-item__image {
    padding: 25px;

    img {
      object-fit: contain;
    }
  }

  &._news-col {
    .cards-item__image {
      padding: 0px;

      img {
        object-fit: cover;
      }
    }
  }
}

.product-section__bottom-block {
  border-top: 4px solid #fbb03e;
  background: #f2f4f8;
  display: flex;
  padding: 20px;
  gap: 20px;
}

.bottom-block__col {
  width: calc(50% - 10px);
}

.bottom-block__title {
  color: #fbb03e;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  /* 21.6px */
  margin-bottom: 10px;
}

.bottom-block__link {
  margin-bottom: 10px;
  color: #15191c;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  /* 16.8px */
}

.site-btn {
  width: fit-content;
  padding: 18px 32px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  /* 20px */
  border: 2px solid #fbb03e;
  background: #fbb03e;
}

.page-head__image {
  overflow: hidden;
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 37%;

  .page-head__image-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .breadcrumbs {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;

    .breadcrumbs__item {
      color: #15191c;

      &:last-child {
        pointer-events: none;
        color: #fbb03e;
      }

      &:not(:last-child):after {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1.5L5 5.49997L1 9.5' stroke='%2315191C' stroke-width='2'/%3e%3c/svg%3e ");
      }
    }
  }
}

.article-page {
  .main {
    max-width: calc(100% - 260px);
  }

  &::before {
    display: none;
  }

  .page-head__wrapper {
    max-width: inherit;
  }

  h2 {
    color: #21272a;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    /* 28.8px */
    margin-bottom: 30px;
  }

  h3 {
    color: #fbb03e;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    /* 28.8px */
    margin-bottom: 10px;
  }

  p {
    color: #21272a;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    /* 25.2px */
    margin: 10px 0;
  }
}

.article-page__slider {
  margin: 30px 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .swiper-slide {
    aspect-ratio: 16 / 9;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    &::after {
      display: none;
    }

    bottom: 0;
    margin: 0;
    top: inherit;
    width: 60px;
    height: 60px;
    background-color: #f2f4f8;
  }

  .swiper-pagination {
    bottom: 20px;
  }

  .swiper-pagination-bullet {
    margin: 0px 10px !important;
    background-color: #21272a;
    width: 7px;
    height: 7px;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      background-color: #fbb03e;
    }
  }
}

.search-section {
  .breadcrumbs {
    padding-left: 0;
  }

  .breadcrumbs__item {
    color: #15191c;

    &:last-child {
      pointer-events: none;
      color: #fbb03e;
    }

    &:not(:last-child):after {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1.5L5 5.49997L1 9.5' stroke='%2315191C' stroke-width='2'/%3e%3c/svg%3e ");
    }
  }
}

.search-form {
  display: flex;
  margin: 30px 0;
}

.search-form__input {
  padding: 27px 26px;
  color: #21272a;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  /* 25.2px */
  display: block;
  width: 100%;
  border: 2px solid #f2f4f8;
}

.search-form__btn {
  cursor: pointer;
  padding: 10px 32px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  /* 20px */
  border: 2px solid #fbb03e;
  background: #fbb03e;
}

.search-result-count {
  color: #21272a;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
  margin-bottom: 30px;
}

.color-selection {
  display: inline;
  color: #fbb03e;
}

.search-result__content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 40px;
}

.contacts__data {
  width: 50%;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contacts__map {
  width: 50%;
  transform: translateX(40px);
  position: relative;
  min-height: 460px;

  iframe {
    filter: grayscale(100%);
  }
}

.contacts__title {
  color: #15191c;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  /* 16.8px */
  margin-bottom: 8px;
}

.contacts__info {
  color: #15191c;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  /* 28.8px */
  width: fit-content;
}

.contacts__wrapper {
  display: flex;
  align-items: center;
}

.error-section {
  min-height: 70vh;
}

.error-section__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 65px;
  align-items: center;
  text-align: center;
}

.error-section__ico {
  width: 80px;
  height: 80px;
  margin-bottom: 55px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.error-section__status {
  color: #fbb03e;
  text-align: center;
  font-size: 54px;
  font-weight: 700;
  line-height: 120%;
  /* 64.8px */
  text-transform: uppercase;
  margin-bottom: 8px;
}

.error-section__title {
  color: #21272a;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  /* 38.4px */
  margin-bottom: 48px;
}

.error-section__text {
  color: #21272a;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  /* 22.4px */
  margin-bottom: 55px;
}

.error-section__btn {
  color: #fbb03e;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  /* 20px */
  padding: 16px 32px;
  border: 2px solid #fbb03e;
  margin-bottom: 40px;
}

.catalog-selects {
  display: flex;
  gap: 40px;

  .select2-container {
    width: calc(50% - 20px) !important;
  }
}

[data-main-layer] {
  cursor: pointer;
  will-change: opacity;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.active {
    opacity: 1;
  }
}

.main-image-section.selected {
  [data-main-layer] {
    opacity: 0;
    pointer-events: none;
  }
}

.main-image-slider {
  margin: 0;

  .swiper-slide {
    padding: 30px 40px;
    width: 100% !important;
  }

  .slide-title {
    color: #21272a;
    font-size: 54px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .slider-descr {
    color: #21272a;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    /* 25.2px */
  }

  .swiper-wrapper {
    height: auto;
    background: #fbb03e;
  }
}

.main-image-slider__wrapper {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  background-color: #000;
  display: flex;
  align-items: stretch;

  .slider-btns {
    border-left: 1px solid #000;
    background-color: #000;
    gap: 1px;
    display: flex;
    flex-direction: column;

    .swiper-button-prev {
      border-bottom: 1px solid #000;
    }

    .swiper-button-next,
    .swiper-button-prev {
      &::after {
        display: none;
      }

      flex-shrink: 0;
      position: static;
      background: #fbb03e;
      margin: 0;
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 40px;
        height: 40px;
        transition: transform 0.2s ease-in-out;
      }

      &:active {
        svg {
          transform: scale(0.8);
        }
      }
    }
  }
}

.main-image-section {
  position: relative;
  background: linear-gradient(180deg, #15191c 0%, #242d34 100%);
  overflow: hidden;
  padding-top: 30px;
  width: 100%;

  .swiper-slide {
    width: 100%;
  }
}

.main-image-section__wrapper {
  width: 100%;
  height: clamp(10px, 43vw, 832px);
  margin-bottom: -1.5%;

  svg {
    width: 100%;
    height: 100%;
    will-change: transform;
    transition: all 1s ease-in-out;
    transform-origin: center;
    object-fit: contain;
  }
}

.main-image-section {
  &.selected {
    .layers-content {
      opacity: 1;
      visibility: visible;
    }

    .main-image-slider__wrapper {
      opacity: 0;
      visibility: hidden;
    }

    [data-active-index="1"] svg {
      transform: scale3d(2.5, 2.5, 1) translate(6%, 31%);
    }

    [data-active-index="2"] svg {
      transform: scale3d(2.5, 2.5, 1) translate(-5%, 15%);
    }

    [data-active-index="3"] svg {
      transform: scale3d(2.5, 2.5, 1) translate(-16%, 5%);
    }

    [data-active-index="4"] svg {
      transform: scale3d(2.5, 2.5, 1) translate(20%, 11%);
    }

    [data-active-index="5"] svg {
      transform: scale3d(2.5, 2.5, 1) translate(12%, -2%);
    }

    [data-active-index="6"] svg {
      transform: scale3d(2.5, 2.5, 1) translate(2%, -11%);
    }

    [data-active-index="7"] svg {
      transform: scale3d(2.5, 2.5, 1) translate(33%, 1%);
    }

    [data-active-index="8"] svg {
      transform: scale3d(2.5, 2.5, 1) translate(25%, -11%);
    }

    [data-active-index="9"] svg {
      transform: scale3d(2.5, 2.5, 1) translate(13%, -20%);
    }
  }
}

.layers-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 500px;
  background: rgba(21, 25, 28, 0.8);
  backdrop-filter: blur(7px);
  z-index: 2;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.layers-back {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  border: 2px solid #fbb03e;
  color: #fbb03e;
  cursor: pointer;
}

.layer-inner {
  padding: 50px;
  flex-direction: column;
  gap: 30px;
  display: none;

  &.show {
    display: flex;
  }
}

.layer-inner-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.layer-inner-title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  /* 38.4px */
}

.layer-inner-item {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;

  &[data-inner] {
    cursor: pointer;
  }

  &.active {
    color: #FBB03E;
  }
}


[data-layer-elem].active {
  // fill: #FBB03E;
  animation: toCollor .4s ease-in-out forwards;
}

@keyframes toCollor {
  0% {
    fill: #ddd;
  }

  100% {
    fill: #FBB03E;
  }
}