@import "./resetr.scss";
@import "./fonts.scss";

$index: calc(1vw + 1vh);

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 120%;
  font-size: 16px;
  font-family: "Inter";
  color: #21272a;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #15191c;
  display: flex;
  flex-direction: column;
}

.main {
  background-color: #fff;
  position: relative;
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }
}

footer {
  margin-top: auto;
  width: 100%;
  overflow: hidden;
}

*::selection {
  background: #fbb03e;
  color: #000;
}

.container {
  width: 100% !important;
  flex: 0 0 auto;
  position: relative;
  max-width: 1960px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: 768px) {
    padding: 0 15px;
  }

  @media screen and (max-width: 440px) {
    padding: 0 10px;
  }
}

.header {
  background-color: #15191c;
  .logo {
    width: 120px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.header__nav,
.actions__wrapper {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: auto;
  gap: 20px;
  padding-right: 20px;
}

.nav__item {
  padding: 10px 5px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  &.active {
    color: #fbb03e;
  }
}

.logo__wrapper {
  padding: 15px 0;
  padding-left: 20px;
  padding-right: 120px;
  border-right: 1px solid rgba(197, 197, 197, 0.2);
}

.header__wrapper {
  display: flex;
  align-items: stretch;
}

.header-link {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  height: 100%;
  border-left: 1px solid rgba(197, 197, 197, 0.2);
  svg {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
}

.search-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  border-left: 1px solid rgba(197, 197, 197, 0.2);
  height: 100%;

  svg {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
}

.cards-section {
  padding: 30px 0px 60px 0;
}

.cards-section__head {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.cards-section__link {
  display: block;
  color: #fbb03e;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  &::after {
    margin-left: 20px;
    width: 16px;
    height: 10px;
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.3396 1.58789L13.7529 8.00118L7.3396 14.4146' stroke='%23FBB03E' stroke-width='2'/%3e%3cpath d='M13.7527 8.00195H0.24707' stroke='%23FBB03E' stroke-width='2'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.cards-section__title {
  color: #21272a;
  font-size: 42px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.cards-section__nav {
  margin-left: auto;
  display: flex;
  gap: 20px;
  .swiper-button-prev,
  .swiper-button-next {
    &::before,
    &::after {
      display: none;
    }
    background: #f2f4f8;
    position: static;
    margin: 0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.cards-item {
  height: auto;
  background: #f2f4f8;
  display: flex;
  flex-direction: column;
  width: calc(33.333% - 26px);
}

.cards-item__body {
  border-top: 4px solid #fbb03e;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  min-height: 140px;
}
.cards-item__text,
.catd-item__info {
  margin-top: auto;
  color: #21272a;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

.cards-item__title {
  color: #21272a;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%; /* 21.6px */
}

.cards-item__image {
  width: 100%;
  height: auto;
  background-color: #f2f4f8;
  aspect-ratio: 14 / 8;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.cards-item__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px 10px;
  flex-wrap: wrap;
  margin-top: auto;
}
.catd-item__cat {
  width: fit-content;
  padding: 4px 11px;
  border-radius: 47px;
  background: #21272a;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%; /* 14px */
  &::first-letter {
    text-transform: uppercase;
  }
}

.info-section {
  background: linear-gradient(180deg, #15191c 0%, #242d34 100%);
  color: #fff;
}

.info-section__wrapper {
  padding: 92px 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 100px center;
}

.info-section__title {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.info-section__descr {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.info-section__content {
  padding-right: 60px;
  padding-left: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info-section__btn {
  padding: 14px 32px;
  border: 2px solid #fbb03e;
  background: #fbb03e;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 16px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  .ico {
    width: 24px;
    height: 24px;
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.plate-item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
  border-bottom: 1px solid #fbb03e;
  background: #f2f4f8;
  width: calc(33.33% - 26.666px);
  position: relative;
  &::before {
    position: absolute;
    width: 40px;
    height: 40px;
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M40 0V40H13.3333H0L40 0Z' fill='white'/%3e%3cpath d='M40 0V13.3333L13.3333 40H0L40 0Z' fill='%23FBB03E'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    right: 0;
    bottom: -1px;
  }
}

.plate-item__ico {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.plates-section__wrapper {
  justify-content: center;
  flex-wrap: wrap;
  padding: 60px 50px;
  display: flex;
  gap: 40px;
}

.plate-item__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.plate-item__title {
  color: #15191c;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
}

.plate-item__descr {
  color: #15191c;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

.docs-slider .cards-item {
  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 44px;
    height: 44px;
    background-color: #fbb03e;
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19.0801 11.3406L12.6668 17.7539L6.25342 11.3406' stroke='%2321272A' stroke-width='2'/%3e%3cpath d='M12.666 17.7537L12.666 4.24805' stroke='%2321272A' stroke-width='2'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
  }
  .cards-item__image {
    padding: 25px;
    img {
      object-fit: contain;
    }
  }
}

.logos-section {
  background: #f2f4f8;
  padding: 80px 0;
}

.logos-section__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 0px 80px;
}
.footer {
  background: #15191c;
}
.footer__head {
  padding: 48px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c5c5c5;
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 16px;
}
.social__item {
  width: 24px;
  height: 24px;
  svg,
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.footer__logo {
  width: 120px;
  height: 50px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.footer__body {
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
  border-bottom: 1px solid #c5c5c5;
}

.footer__col {
  max-width: 15%;
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  .col-link {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
}

.footer__bottom {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  padding: 48px 0;
}

.logo-item {
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.footer__wrapper {
  // max-width: 98%;
  // margin: auto;
  padding: 0px 80px;
}

.main__wrapper {
  margin: 0 auto;
  display: flex;
  padding: 0 20px;
  max-width: 1960px;
}

.sticky-sidebar {
  position: relative;
  z-index: 12;
  width: 64px;
  flex-shrink: 0;
  height: auto;
  background: #15191c;
  &:hover {
    .sticky-sidebar__wrapper {
      width: 260px;
      transition-delay: 0s;
    }
    ~ .main::before {
      opacity: 1;
      visibility: visible;
    }
    .arrow-ico {
      transform: rotate(180deg);
    }
  }
  .sticky-sidebar__wrapper {
    transition: width 0.3s ease-in-out 0.3s;
    border-right: 1px solid rgba(197, 197, 197, 0.2);

    height: 100%;
    width: 100%;
    background-color: #15191c;
  }
  .sticky-sidebar__content {
    position: sticky;
    top: 0;
  }
}

.arrow-ico {
  transition: transform 0.3s ease-in-out;
  width: 24px;
  height: 24px;
  margin-left: 20px;
  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.sticky-sidebar__content {
  overflow: hidden;
  .ico {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  .menu-link-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    padding: 14px 20px;
  }
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 260px;
  }

  .menu li {
    position: relative;
    &:hover {
      background-color: #333;
    }
  }

  .has-submenu > a:after {
    content: "";
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9 1L5.00003 5L1 1' stroke='white' stroke-width='2'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: auto;
  }

  .submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
    margin: 0;
  }

  .submenu li a {
    padding: 10px 20px;
    font-size: 12px;
  }

  .submenu li a:hover {
    background-color: #444;
  }

  .active > a {
    background-color: #fbb03e;
  }

  .active > a:after {
    transform: scale(-1);
  }
}
@media (max-width: 1920px) {
  .main__wrapper {
    padding: 0px;
    max-width: 1920px;
  }
  .header .container {
    padding: 0;
  }
}
